
@media screen and (min-width: 1000px)
{

#thanks{
 margin: auto;
 font-size: 300%;
}

div{
 width: 100vw;
 height: 100vh;
}

div h1{
 text-align: center;
}

div ul{
 padding: 10vw;
 font-size: 120%;
}

div hr{
 display: none;
}

div span{
 font-size: 80%;
}

}

@media screen and (max-width: 990px)
{

body{
 background-color: lightgrey;
 font-family: "sans-serif";
}
#thanks{
 margin: auto;
 font-size: 200%;
}

div{
 width: 100vw;
 height: 50vh;
}

div h1{
 text-align: center;
}

div ul{
 padding: 10vw;
 font-size: 160%;
}

div hr{
 display: none;
}

div span{
 font-size: 100%;
}

}